# Byte-compiled / optimized / DLL files
src/__pycache__/

# Distribution / packaging
.Python
env/
build/

# VScode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Generared documents
data/*.json
data/*.html